/*
    Global CSS for inset page using the full available client area.
*/
body {
    margin: 0px;
    font-size: large;
}
canvas {
    width: 100%;
    height: 100%;
}
input {
    font-size: initial;
}

.E3D_fullscreenContainer {
    position:fixed;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
}

/*
    Flex area to have either header or footer or both with space in middle filled with canvas
*/
.E3D_flexVertical {
    display: flex;
    flex-direction: column;
}
.E3D_flexHorizontal {
    display: flex;
    flex-direction: row;
}
.E3D_flexContent {
    overflow: hidden;
    flex: 1 1 auto;
}
.E3D_flexVerticalContentFit {
    width: 100%;
    height: fit-content;
}
.E3D_flexHorizontalContentFit {
    width: fit-content;
    height: 100%;
}

/*
    Common classes
*/
.E3D_margin {
    margin: 0.25em;
}

.E3D_fakeButton {
    cursor: pointer;
    background-color: #d0d0d0;
    padding-right: 0.2em;
    padding-left: 0.2em;
    user-select: none;
    box-shadow: 0.1em 0.1em black;
    border-radius: 0.2em;
    margin: 0.1em 0.2em 0.2em 0.2em;
}
.E3D_fakeButton:hover {
    background-color: #a0a0a0;
}

.E3D_monospaceText {
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
}

.E3D_label {
    font-family: 'Courier New', Courier, monospace;
    background-color: #F0F0F0;
    padding-right: 0.2em;
    padding-left: 0.2em;
    box-shadow: 0.1em 0.1em black;
    border-radius: 0.2em;
    margin: 0.1em 0.2em 0.2em 0.2em;
    white-space: pre-wrap;
}

.E3D_input_caption {
    text-align: left;
}
.E3D_input_value {
    text-align: right;
}
.E3D_input_separator {
    border-bottom: 1px solid black;
    height: 1px;
    margin-top: 0.5em;
}
.E3D_input_header {
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-top: 1px;
}
.E3D_paramContainer {
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-right: 1px solid black;
    display: inline-block;
    overflow: hidden;
}
.E3D_paramDiv {
    display: grid;
    grid-template-columns: 200px 60px auto;
    grid-auto-rows: 1.2em;
}